* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
header {
  border: 2px solid red;
  background-color: #ffffff;
}
nav {
  max-width: 1600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px 120px 16px 120px;
  gap: 40px;
  margin: 0px auto;
}
.nav-logo {
  width: 139px;
  height: 60px;
}
.nav-menu ul {
  display: flex;
  list-style-type: none;
  gap: 32px;
}
.nav-menu ul a {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  font-weight: 500;
}

.btn {
  width: 164px;
  height: 44px;
  background-color: #469165;
  border: none;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
}
.btn :hover {
  background-color: darkgreen;
  border-radius: 4px;
}
